<!DOCTYPE html>
<html>
<head>
	<title>Materias</title>
	<meta charset="utf-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.1/Sortable.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
	<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
	
</head>
<body>

	<div id="app" class="container my-3">
		<h3>Materias</h3>
		<div class="form-group d-flex">
			<select class="form-control" v-model="materia_seleccionada">
				<option value="-1" selected disabled hidden>Elegir materia</option>
				<option v-for="(materia, index) in materias" :value="index">
					{{ materia }}
				</option>
			</select>
			<button class="btn btn-primary col-3 ml-3" data-toggle="modal" data-target="#agregarMateria">Nueva materia</button>
			<button v-on:click="nuevoOrdenMaterias = materias" class="btn btn-secondary col-3 ml-3" data-toggle="modal" data-target="#configuracion">Configuración</button>
		</div>
		<hr>
		<div v-if="materia_seleccionada >= 0">
			<h3>Contenido: {{ materias[materia_seleccionada] }}</h3>
			<div class="form-group d-flex input-group">
				<input aria-describedby="validatedInputGroupPrepend" v-on:keyup="abrir_collapses" v-model="buscar" class="form-control" placeholder="Buscar...">
				<div class="input-group-prepend col-2 m-0 p-0">
					<button class="input-group-text w-100 text-center" v-on:click="buscar=''; abrir_collapses()">Borrar</button>
			     </div>
			     <button class="btn btn-success ml-3 col-4" data-toggle="modal" data-target="#agregarTema">Nuevo tema</button>
			</div>
			<div>
				<div class="accordion" id="accordionExample">
					<div class="card" v-for="(tema, index) in temas_materias[materia_seleccionada]" v-if="temas_materias[materia_seleccionada][index].toLowerCase().includes(buscar.toLowerCase()) || contenidos_temas[materia_seleccionada][index].toLowerCase().includes(buscar.toLowerCase())">
					    <div class="card-header" id="headingOne">
					      <h2 class="mb-0">
					        <div class="d-flex">
					        	<button onclick="this.blur()" v-html="$options.filters.highlight(tema, buscar)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" :data-target="'#collapse'+index" aria-expanded="false" aria-controls="collapseOne">
						          {{ tema }}
						        </button>
						        <div class="dropdown dropleft">
								   <button type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="this.blur()" class="btn"><span>...</span></button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
								    <button v-on:click="tema_seleccionado = index; configurarEdicionTema()" data-toggle="modal" data-target="#modalEditarTemaYContenido" class="dropdown-item" type="button">Editar</button>
								    <button v-on:click="tema_seleccionado = index" data-toggle="modal" data-target="#modalEliminarTema" class="dropdown-item" type="button">Eliminar</button>
								  </div>
								</div>
					        </div>
					      </h2>
					    </div>

					    <div :id="'collapse'+index" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
					      <div class="card-body" v-html="$options.filters.highlight(contenidos_temas[materia_seleccionada][index], buscar)" >
					       		{{ contenidos_temas[materia_seleccionada][index] }}
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		


		<!-- MODALES -->

		<!-- Modal agregar materia-->
			<div class="modal fade" id="agregarMateria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Agregar materia</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="form-group">
			        	<input v-on:keyup.enter="agregar_materia" v-model="nuevaMateria" class="form-control" placeholder="Nombre de la materia...">
			        </div>
			        <div class="form-group" id="alertaAgregarMateria">
			        	
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button v-on:click="agregar_materia" type="button" class="btn btn-primary">Agregar</button>
			      </div>
			    </div>
			  </div>
			</div>

		<!-- Modal agregar tema-->
			<div class="modal fade" id="agregarTema" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Agregar tema</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      		<div class="form-group">
			      			<input v-model="nuevoTemaTitulo" class="form-control" placeholder="Nombre del tema..." autocomplete="off">
			      		</div>
			      		<div class="form-group">
			      			<textarea name="txtAreaNuevoContenido" v-model="nuevoTemaContenido" class="form-control" placeholder="Contenido..." style="min-height: 150px;">
			      				
			      			</textarea>
			      		</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button v-on:click="insertar_tema" type="button" class="btn btn-primary">Agregar</button>
			      </div>
			    </div>
			  </div>
			</div>

		<!-- Modal configuracion-->
			<div class="modal fade" id="configuracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Configuración</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      		<div v-if="materias.length > 0">
			      			<h4>Orden de las materias</h4>
			      			<div class="accordion" id="accordionExample">
							  <div class="card">
							    <div class="card-header" id="headingOne">
							      <h2 class="mb-0">
							        <button onclick="this.blur()" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							          Materias
							        </button>
							      </h2>
							    </div>
							    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
							      <div class="card-body">
							       		<draggable v-model="nuevoOrdenMaterias">
										   <div class="card" v-for="(materia, index) in nuevoOrdenMaterias" :pos="index">
										   		<div class="card-body">
										   			{{ materia }}
										   		</div>
										   </div>
										</draggable>
							      </div>
							    </div>
							  </div>
								  
							</div>
			      		</div>
			      		<hr class="my-3" v-if="materias.length > 0">
			      		<h4>Borrar datos</h4>
			      		<button data-toggle="modal" data-target="#modalEliminarDatos" class="btn btn-danger btn-block">Borrar todos los datos</button>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button data-toggle="tooltip" data-placement="top" title="Guardado" data-trigger='manual' id="btnGuardarConfiguracion" v-on:click="guardarConfiguracion" v-on:click="insertar_tema" type="button" class="btn btn-primary">Guardar</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal eliminar tema-->
			<div class="modal fade" id="modalEliminarTema" tabindex="-1" role="dialog" aria-labelledby="modalEliminarTema" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Eliminar tema</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      		<p>¿Estas seguro que quieres eliminar el tema <strong v-if="materia_seleccionada >= 0 && tema_seleccionado >= 0">{{ temas_materias[materia_seleccionada][tema_seleccionado] }}</strong>?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button v-on:click="eliminarTema" data-dismiss="modal" type="button" class="btn btn-danger">Eliminar</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal eliminar datos-->
			<div class="modal fade" id="modalEliminarDatos" tabindex="-1" role="dialog" aria-labelledby="modalEliminarTema" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Eliminar tema</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      		<p>¿Estas seguro que quieres eliminar <strong>todos los datos</strong>?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button v-on:click="borrarDatos" data-dismiss="modal" type="button" class="btn btn-danger">Eliminar</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Modal editar tema y contenido-->
			<div class="modal fade" id="modalEditarTemaYContenido" role="dialog" aria-labelledby="modalEliminarTema" aria-hidden="true">
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Editar tema y contenido</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      		<div class="form-group">
			      			<input v-model="editarTema" class="form-control" placeholder="Nombre del tema..." autocomplete="off">
			      		</div>
			      		<div class="form-group">
			      			<textarea name="txtAreaEditarContenido" v-model="editarContenido" class="form-control" placeholder="Contenido..." style="min-height: 150px;">
			      				
			      			</textarea>
			      		</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button v-on:click="guardarEdicionTema" data-dismiss="modal" type="button" class="btn btn-primary">Editar</button>
			      </div>
			    </div>
			  </div>
			</div>



	</div>





<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript">

	CKEDITOR.replace('txtAreaNuevoContenido');
	CKEDITOR.replace('txtAreaEditarContenido');
	

</script>

</body>
</html>